* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f8f5;
    color: #333;
    line-height: 1.6;
}
header {
    background-color: #1b5e20;
    color: white;
    text-align: center;
    padding: 40px 20px;
    display: flex;
}
header img{
    height: 140px;
    width: 120px;
    border: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
}
header h1 {
    margin-bottom: 20px;
    margin-left: 700px;
}
.sub{
    text-align: center;
    color: green;
    
}
nav {
    background-color: white;
    text-align: center;
    padding: 15px;
    
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    color: black;
}

nav a:hover {
    color: green;
    font-size: large;
}



main {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
}

.introducao {
    text-align: center;
    margin-bottom: 30px;
}

.introducao h2 {
    color: #1b5e20;
    margin-bottom: 15px;
}

.introducao p {
    margin-bottom: 10px;
}



.tecnologias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}



.card {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card:hover {
    background-color: wheat;
    color: white;
    transition: 0.5s;
}
.card h2 {
    color: #2e7d32;
    margin-bottom: 10px;
}
.card h2:hover{
    color: white;
}

.icone {
    font-size: 50px;
    margin-bottom: 15px;
}



footer {
    background-color: #1b5e20;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}