* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f7f2;
    color: #263328;
}

header {
    background: #2e7d32;
    color: white;
    text-align: center;
    padding: 60px;
}

header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 30px auto;
}

main h2 {
    text-align: center;
    margin-bottom: 15px;
}

.texto {
    text-align: center;
    margin-bottom: 30px;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.projeto {
    background: white;
    width: 45%;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.projeto h3 {
    color: #2e7d32;
    margin-bottom: 10px;
}

.projeto p {
    font-size: 16px;
}

footer {
    background: #2e7d32;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
img{
height: 100px;
width: 100px;
top: 20px;
}